.App {
  font-family: sans-serif;
}

.App-header {
  display: flex;
  height: 40px;
  padding: 20px;
  color: #21ABED;
  font-size: 14px;
  letter-spacing: .5px;
}

.App-header h3 {
  font-weight: 500;
  
}


